ion-view.cyan.lighten-1
  ion-content
    .container.pt40
      .row
        .col
          h1.text-center Welcome!

          p.text-center Looking for the perfect car match for you?  
          p.text-center Enter your current car to get started!  

      .row
        .col.s6.text-center
          button.btn-large.waves-effect.waves-light.green(
            ui-sref="app.vin"
          ) Compare your current car

      .row
        .col.s12.text-center
          a.grey-text(
            ui-sref="app.list"
          ) No thanks, just take me to the list
